<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile-App</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <div class="head">
        {{>header}}
    </div>
    <h2>Hey folks, I'm <span class="header">Software Developer 🥰💪</span></h2>
    <p class="heading">Building a successful product is a challenge. <br>
        I am highly energetic in user experience design interface and web development. <br>
        and a full stack of front-end developer.
    </p>    

    <img class="img" src="/images/bola imaga.jpg" alt="images">
    <a href="/about" class="para">Read More</a>
    {{>footer}}
</body>
</html>